@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+4&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(271deg, #184092, #808a9f, #9663dd, #6d0ef2);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 43s ease infinite;
  -moz-animation: AnimationName 43s ease infinite;
  animation: AnimationName 43s ease infinite;
}
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}
input{
  font-family: 'Source Serif 4', sans-serif;
  font-size: 3em;
}



.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}
.container-inline{
	display: inline-block;
  background-color: transparent;
    height: 100px;
    width: 50%;
    margin: 8px;
	
		
}
.box{
  
    
    
   
    margin: 8px;
    display: flex;
    justify-content: center;
  
}
.content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 1100px;
}
.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
input{
  text-align: center;
}
#container{
  margin-top: 130px;
  width: 500px;
  height: 90px;
  border: solid 3px black;
  display: flex;
;
}
#list-container{
  text-align: center;
  width: 50px;
  height: 50px;
  display: none;
  margin: 0 10px 0 10px;
}
#vitoria{
  color: blue;
  font-size: 3em;
  display: none;
}
#derrota{
  color:brown;
  font-size: 3em;
  display: none;
}
#mostrar-tracinhos{
  border-bottom: solid 2px black;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
  display: flex;
}
#container-tracinhos{
  width: 500px;
  height: 90px;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  border-radius: 17px;
}
#error-empty{
  color: white;
}
#letras-digitadas{
  display: none;
}
#container-digitar-letras{
  display: none;
  margin-top: 50px;
}
button{
  border-radius: 50%x;
  background: linear-gradient(271deg, #e45614, #244ea3, #ddda44, #6d0ef2);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 51s ease infinite;
  -moz-animation: AnimationName 51s ease infinite;
  animation: AnimationName 51s ease infinite;
  width: 300px;
  height: 100px;
  font-size: 30px;

}

